################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebAPITesting/FileContentIndex
.vs/
bin/
obj/
logs/
*.csproj.user
